/* main.css */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: collection;
    src: url("../../static/media/fonts/collection/CollectionFree.otf");
    /* Non-Commercial Use (Personal) */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Global Fonts */
body, button {
    font-family: "EB Garamond";
    font-weight: 400;
    font-style: normal;
    color: #919191;
    letter-spacing: 0.2px;
}

/* Headings */
h1, h2, h3, h4, h5 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    color: #867755;
}

h1, h2 {
    font-family: "collection";
    font-weight: 550;
    font-style: normal;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3, h4, h5 {
    font-weight: 520;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    letter-spacing: 0.3em;
}

p, a {
    line-height: 2em;
    text-align: center;
}

ul, ol {
    line-height: 1.5em;
}

/* General styling for all ul elements inside section-content */

.section-text ol p {
    text-align: left;
}

.section-text ul {
    list-style-type: circle; /* Remove default list markers */
    list-style-position: inside; /* Ensure list items are aligned inside the ul */
 }

.section-text ul li {
    padding-left: 2em; /* Add consistent padding */
    text-indent: -2em; /* Adjust text indentation to align list markers */
}

.section-text ul li {
    padding-left: 2em; /* Adjust padding for nested ordered lists */
    text-indent: -2em; /* Adjust text indentation to align list markers */
}

.section-text ol li {
    padding-left: 3em; /* Adjust padding for nested ordered lists */
    text-indent: -2em; /* Adjust text indentation to align list markers */
}

/* Content wrapper */
.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px 20px;
    width: 100%;
    flex-wrap: nowrap;
    box-sizing: border-box;
    min-height: 100vh; /*Ensure the wrapper takes the full viewport height */
    flex: 0.5; /* This makes the content area take up the remaining space */
}

.section-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}

#home-content, #travel-content {
    flex-direction: column;
}

.section-image, .section-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.section-text {
    word-wrap: break-word;
    flex-grow: 1;
}

.section-image img, iframe {
    max-width: 70vh;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.accommodation-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 80vw;
}

.accommodation-table th, .accommodation-table td {
    border: 1px solid lightgrey;
    padding: 8px;
    white-space: wrap;
    text-align: center;
}

th {
    cursor: pointer;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
}
.arrow.asc {
    border-top: none;
    border-bottom: 10px solid black;
}
.arrow.desc {
    border-bottom: none;
    border-top: 10px solid black;
}

/* Id overrides */
#getting-married {
    font-style: italic;
}

#wedding-date, #wedding-location {
    color: #867755;
    margin-bottom: 0;
}

#wedding-location {
    font-style: italic;
}

/* Small devices (phones, 369px and down) */
@media only screen and (max-width: 369px) {
    h1, h5 {
        font-weight: 550;
    }

    .section-content {
        flex-direction: column;
    }

    .accommodation-table th, .accommodation-table td {
        border: 1px solid lightgrey;
        padding: 2px 5px;
        white-space: wrap;
        text-align: center;
        font-size: 0.8em;
    }

    .section-image img, iframe {
        max-width: 100%;
        max-height: 100%;
    }
}

/* Mobile phones (portrait and landscape) */
@media only screen and (min-width: 370px) and (max-width: 480px) {
    h1, h5 {
        font-weight: 550;
    }

    .section-content {
        flex-direction: column;
    }

    .accommodation-table th, .accommodation-table td {
        border: 1px solid lightgrey;
        padding: 2px 5px;
        white-space: wrap;
        text-align: center;
        font-size: 0.8em;
    }

    .section-image img, iframe {
        max-width: 100%;
        max-height: 100%;
    }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    h1, h5 {
        font-weight: 550;
    }
    
    .section-content {
        flex-direction: column;
    }

    .section-image img, iframe {
        max-width: 90%;
        max-height: 90%;
    }
}
