/* rsvp.css */
/* Form container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px 20px;
    width: 100%;
    flex-wrap: nowrap;
    box-sizing: border-box;
    min-height: 100vh;
    flex: 0.5;
}

/* Style for form groups (labels + inputs) */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group button[type="submit"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0.7em;
    box-sizing: border-box;
}

/* Style for the flex container and its children */
.form-group-flex {
    display: flex;
}

.form-group-half {
    flex: 1;
    margin-right: 10px;
}

.form-group-half:last-child {
    margin-right: 0;
}

/* Style for radio buttons */
.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.radio-group label {
    margin-right: 20px;
}

/* Style for submit button */
button[type="submit"], .rsvp-btn, .upload-btn {
    background-color: rgba(255, 194, 209);
}

button[type="submit"], .rsvp-btn, #addToCalendar, .upload-btn {
    display: block;
    width: 8em;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 0.7em;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: 0 auto;
}

button[type="submit"]:hover, .rsvp-btn:hover, .upload-btn:hover {
    background-color: rgba(245, 174, 189);
}


#addToCalendar {
    background-color: #95B589;
}

#addToCalendar:hover {
    background-color: rgba(191, 211, 193, 0.9);
}

.rsvp-link, #addToCalendar, .upload-link {
    text-decoration: none;
}

/* Style for privacy notice */
.privacy-notice {
    margin-top: 20px;
    font-style: italic;
    font-size: 14px;
}
