/* countdown.css */

/* Countdown timer */
#header-timer,
#nav-timer {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

.days,
.hours,
.minutes,
.seconds {
    color: #fff;
    font-size: 0.5em;
    display: inline-block;
    padding: 3px;
    width: 70px;
    border-radius: 10px;
    background: #BFD3C1;
}

.numbers {
    color: #fff;
    font-size: 5em;
}

.message {
    color: #b1b1b1;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 5px;
    margin-top: 25%;
}

/* Very small devices (phones, 369px and down) */
@media only screen and (min-width: 1px) and (max-width: 369px) {
    .days,
    .hours,
    .minutes,
    .seconds,
    .numbers,
    .message {
        display: none
    }
}

/* Mobile phones (portrait and landscape) */
@media only screen and (min-width: 370px) and (max-width: 480px) {
    .days,
    .hours,
    .minutes,
    .seconds {
        display: inline-block;
        font-size: auto;
        padding: 3px;
        width: auto;
        border-radius: 0;
        background: transparent;
    }

    .numbers {
        color: #fff;
        font-size: 1.5em;
        width: auto;
    }
    
    .message {
        color: #b1b1b1;
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        letter-spacing: 5px;
        margin-top: 25%;
    }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .days,
    .hours,
    .minutes,
    .seconds {
        display: inline-block;
        font-size: auto;
        padding: 3px;
        width: auto;
        border-radius: 0;
        background: transparent;
    }

    .numbers {
        color: #fff;
        font-size: 3em;
    }
    
    .message {
        color: #b1b1b1;
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        letter-spacing: 5px;
        margin-top: 25%;
    }
}
