/* countdown.css */

/* Countdown timer */
#timer {
    color: #F6F4F3;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.days,
.hours,
.minutes,
.seconds {
    display: inline-block;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    background: #BFD3C1;
}

.numbers {
    color: #fff;
    font-size: 5em;
}

.white {
    position: absolute;
    background: #fff;
    height: 85px;
    width: 75px;
    left: 30%;
    top: 2%;
}

.message {
    color: #b1b1b1;
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    padding: 10px;
    letter-spacing: 5px;
    margin-top: 25%;
}

/* Media queries for responsive design */

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    .white {
        left: 10%; /* Adjust position for small screens */
        width: 60px; /* Adjust width for small screens */
    }

    .message {
        font-size: 3em; /* Adjust font size for small screens */
    }
}

/* Media query for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .white {
        left: 20%; /* Adjust position for medium screens */
        width: 70px; /* Adjust width for medium screens */
    }

    .message {
        font-size: 4em; /* Adjust font size for medium screens */
    }
}

/* Media query for large screens */
@media only screen and (min-width: 1201px) {
    /* No changes needed for large screens */
}
