/* main.css */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    display: grid;
    background: #fff;
}

.container {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 650px;
    height: 480px;
    text-align: center;
}

.header-section {
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Set the height of the image container */
    width: auto;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header-image img {
    max-width: 100%; /* Limit the maximum width of the image */
    max-height: 100%; /* Limit the maximum height of the image */
    border-radius: 10px; /* Add rounded corners */
}

h1,
h2 {
    font-family: 'Garamond', serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #b1b1b1;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

/* General section styling */
.section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.section-title {
    margin-bottom: 10px;
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    align-content: center;
    justify-content: center;
}

/* Keyframe animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Section styling */
#home,
#schedule,
#travel,
#accomodation,
#ceremony,
#venue,
#thingstodo,
#faqs,
#rsvp {
    background-color: white;
}


#home-title,
#schedule-title,
#travel-title,
#accomodation-title,
#ceremony-title,
#venue-title,
#thingstodo-title,
#faqs-title,
#rsvp-title {
    margin-bottom: 10px;
}

#home-content,
#schedule-content,
#travel-content,
#accomodation-content,
#ceremony-content,
#venue-content,
#thingstodo-content,
#faqs-content,
#rsvp-content {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    flex: 1;
}

#home-image,
#schedule-image,
#travel-image,
#accomodation-image,
#ceremony-image,
#venue-image,
#thingstodo-image,
#faqs-image,
#rsvp-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Set the height of the image container */
    width: auto;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Media queries for responsive design */

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%; /* Full width for small screens */
    }
}

/* Media query for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .container {
        width: 80%; /* Adjust width for medium screens */
    }
}

/* Media query for large screens */
@media only screen and (min-width: 1201px) {
    .container {
        width: 650px; /* Reset width for large screens */
    }
}
