/* main.css */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* Simplebar */
html, body {
    height: 100%;
    margin: 0;
}

#main-content {
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

/* Global Fonts */
body,
button {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Body */
body {
    scroll-behavior: smooth;
}

/* Headings */
h1,
h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

/* Font Sizes */
h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: #BFD3C1;
}

h2 {
    font-size: 1.8em;
    color: #fff;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* General Section Styling */
.section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 1.5em;
    background: #D7E5DB;
}

.home-section-title {
    display: flex;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.home-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    display: flex;
    text-align: center;
    height: 9em;
    margin-bottom: 1em;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-section-text {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-section-image,
.home-section-text,
.section-image,
.section-text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 0.5em;
    border-radius: 10px;
    overflow: hidden;
}

.section-text {
    word-wrap: break-word;
}

.section-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.home-section-image img {
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* [id*="-content-"] {
    text-align: left;
} */

[id^="travel-content-"] {
    text-align: left;
}

/* Small devices (phones, 369px and down) */
@media only screen and (min-width: 1px) and (max-width: 369px) {
}

/* Mobile phones (portrait and landscape) */
@media only screen and (min-width: 370px) and (max-width: 480px) {
    .section {
        padding-left: 1em;
        padding-right: 1em;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.7em;
    }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .section {
        padding-left: 1em;
        padding-right: 1em;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.7em;
    }
}
