/* navigation.css */

/* Styling for the navigation bar */
.nav-bar {
    position: relative; /* Relative position to keep the navigation bar in place */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    width: auto; /* Auto width of the viewport initially */
    z-index: 1000; /* Ensure the navigation bar appears above other content */
    background-color: #fff; /* Background color of the navigation bar */
    padding: 10px 20px; /* Reduce padding to make it smaller vertically */
    height: 50px; /* Set the height of the navigation bar */
    justify-content: space-evenly; /* Equally space items horizontally */
    align-items: center; /* Center items vertically */
    color: #333; /* Text color of the navigation bar */
    transition: background-color 0.3s ease; /* Transition for smooth background color change */
    display: none; /* Hide the navigation bar initially */
}

/* Styling to stick navigation bar to top of viewport */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; /* Center the navigation bar horizontally */
}

/* Styling for the translucent navigation bar */
.nav-bar.translucent {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity for a translucent effect */
}

/* Display the navigation bar after the correct password is entered */
.password-entered .nav-bar {
    display: flex; /* Display the navigation bar */
}

/* Other responsive changes */
/* Styling for the navigation links */
.nav-links {
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display links in a row */
    justify-content: space-evenly; /* Equally space the items horizontally */
    margin: 0 auto; /* Center the navigation links horizontally */
}

.nav-links li {
    margin-right: 20px; /* Add margin between list items */
}

.nav-links a {
    text-decoration: none; /* Remove default underline */
    color: #333; /* Text color of the navigation links */
    font-size: 18px; /* Font size of the navigation links */
    transition: color 0.3s; /* Transition for smooth color change on hover */
}

.nav-links a:hover {
    color: #F3D8C7; /* Text color on hover */
}

/* Display the navigation links when active */
.nav-links.active {
    display: flex; /* Display the navigation links */
    flex-direction: column; /* Display links in a column */
    position: fixed; /* Position the navigation links fixed on the screen */
    top: 0; /* Position at the top of the screen */
    left: 0; /* Position at the left of the screen */
    width: 100%; /* Full width of the screen */
    height: 100%; /* Full height of the screen */
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background color */
    z-index: 1000; /* Ensure the navigation links appear above other content */
    padding-top: 50px; /* Adjust padding to account for the burger menu */
    transition: opacity 0.4s ease; /* Smooth transition for animation */
    opacity: 1; /* Make the navigation links fully visible */
}

/* Styling for the copyright section */
.copyright {
    position: relative; /* Relative positioning */
    bottom: 0; /* Position at the bottom */
    z-index: 100; /* Ensure the copyright section appears above other content */
    background-color: #fff; /* Background color of the copyright section */
    padding: 20px; /* Padding for spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect for depth */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    color: #333; /* Text color of the copyright section */
    display: none; /* Hide the copyright section initially */
}

/* Display topbar and copyright section after the correct password is entered */
.password-entered .nav-bar,
.password-entered .copyright {
    display: flex; /* Display the navigation bar and copyright section */
}

/* Bottom navigation container */
.bottom-nav {
    text-align: center; /* Center the content horizontally */
}

/* Styling for the scroll to top button */
#scrollToTopBtn {
    background-color: #fff; /* Button background color */
    color: black; /* Button text color */
    border: 1px solid #333; /* Add border around the button */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for the button */
    font-size: 16px; /* Font size of the button text */
    cursor: pointer; /* Change cursor to pointer on hover */
    display: inline-block; /* Ensure button takes up only necessary space */
    z-index: 100; /* Ensure button is displayed above other content */
    position: relative; /* Relative positioning */
    transition: background-color 0.3s ease; /* Transition for smooth background color change */
    margin-top: 1%;
    margin-bottom: 1%;
}

#scrollToTopBtn:hover {
    background-color: #9e9e9e; /* Darker background color on hover */
}

.burger-menu {
    display: none; /* Hide the burger menu by default */
    cursor: pointer; /* Change cursor to pointer */
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: transform 0.4s ease; /* Smooth transition for animation */
}

/* Media queries for responsive design */

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    .nav-links {
        display: none; /* Hide the navigation links for small screens */
        flex-direction: column; /* Arrange links vertically */
        text-align: center; /* Center-align links */
        position: absolute; /* Position the links */
        top: 50px; /* Offset from the top */
        left: 0; /* Align to the left */
        width: 100%; /* Occupy full width */
        background-color: #fff; /* Background color of the burger menu */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
    }

    .nav-links.active {
        display: flex; /* Display links when active */
    }

    .burger-menu {
        display: block; /* Display burger menu icon */
    }
}

/* Media query for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .nav-links {
        width: 60%; /* Reset width for medium screens */
    }
}

/* Media query for large screens */
@media only screen and (min-width: 1201px) {
    .nav-links {
        width: 80%; /* Reset width for large screens */
    }
}
